<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="ApplicationName" value="BrokerService" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IInquiryService" />
    <binding name="BasicHttpBinding_IAuthenticationService" />
    <binding name="BasicHttpBinding_IRecordsService" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://ssv-cr.cr24.ir:8082/InquiryService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInquiryService"
    contract="InquiryService.IInquiryService" name="BasicHttpBinding_IInquiryService" />
   <endpoint address="http://ssv-main.cr24.ir:8123/AuthenticationService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService"
    contract="AuthenticationServiceRefrence.IAuthenticationService"
    name="BasicHttpBinding_IAuthenticationService" />
   <endpoint address="http://ssv-cr.cr24.ir:8010/RecordsService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecordsService"
    contract="RecordsServiceRef.IRecordsService" name="BasicHttpBinding_IRecordsService" />
  </client>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />

		<directoryBrowse enabled="true" />
	</system.webServer>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings>
		<add name="CreditContext" connectionString="data source=srv-developer;initial catalog=Cr24.CreditBroker;user id=Dev;password=Dev;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>